/* some css */
.my-class{
    background-color: #ffffff;
}

.extra{
    background-image: url(../img/sample.jpg);
    background-color: #cccc;
    width: 500px;
    height: 500px;
    border: 1px solid #000000;

}